.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position: absolute;
    display: flex;
    justify-content: center;
    size: fit-screen;
  }
  .topBanner {
    background-color:#457993;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 0px;
    margin-bottom: 30px;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #3D4E5A;
    -moz-box-shadow: 0px 3px 2px #999;
    -webkit-box-shadow: 0px 3px 2px #999;
    box-shadow: 0px 3px 2px #999;
  }
  .bannerContent {
    width: 960px;
    margin-right: auto;
    margin-left: auto;

  }
  .bannerContent a img{
    float: left;
    left: -50px;
    position: relative;
    margin-right: 10px;
    bottom: 15px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
  }